<div class="match-wrapper">
  <div id="top-card">
    <div>
      <span>Match {{ match.id }} </span>
      <span>({{ match.statut }})</span>
    </div>
    <div>
      @if (match.statut=="nouveau") {
      <p>
        Créé le {{ match.dateCreation | date : "dd/MM/yyyy" }} à
        {{ match.dateCreation | date : "HH:mm:ss" }}
      </p>
      } @else {
      <div>Date : {{ match.dateDebut | date : "dd/MM/yyyy" }}</div>
      @if (match.statut=="en cours") {
      <span>Débuté à {{ match.dateDebut | date : "HH:mm" }}</span>
      } @if (match.statut=="fini") {
      <span>De {{ match.dateDebut | date : "HH:mm" }}</span>
      <span> à {{ match.dateFin | date : "HH:mm" }}</span>
      } }
    </div>
  </div>
  <div id="middle-card">
    @if (match.statut == "en cours") {
    <div id="chrono">Chrono : {{ match.timer | timer }}</div>
    }
    <div class="ligne-combattant" [style.color]="match.couleurA">
      <div class="combattant">
        <span>{{ match.infosA | nomsDisplay }}</span>
        <br />
        <span>{{ match.infosA.club | clubDisplay }}</span>
      </div>
      @if(match.statut!="nouveau") {
      <div class="score-combattant">{{ match.scoreA }}</div>
      }
    </div>
    <div class="ligne-combattant" [style.color]="match.couleurB">
      <div class="combattant">
        <span>{{ match.infosB | nomsDisplay }}</span
        ><br />
        <span>{{ match.infosB.club | clubDisplay }}</span>
      </div>
      @if(match.statut!="nouveau") {
      <div class="score-combattant">{{ match.scoreB }}</div>
      }
    </div>
    <div id="tags">
      @for (tag of match.tags; track $index) {
      <span class="tag">{{ tag.code }}</span>
      }
    </div>
  </div>
  <div id="bottom-card">
    <a routerLink="/arbitrage/{{ match.id }}"
      ><button id="button-arbitrer">Arbitrer match</button></a
    ><button
      id="button-supprimer"
      [disabled]="estLectureSeule"
      (click)="demanderSuppression(match.id)"
    >
      X
    </button>
  </div>
  @if (estModalVisible){
  <app-confirmation-modal
    [id]="match.id"
    [titre]="titreModal"
    [texte]="texteModal"
    (confirmer)="confirmerSuppression($event)"
    (annuler)="annulerSuppression()"
  ></app-confirmation-modal>
  }
</div>
