<main>
  <app-login (loginEvent)="updateLogin($event)"></app-login>

  @if (!estLectureSeule) {
  <div id="bloc-creation">
    @if (!estModeCreation) {
    <button class="btn btn-poule" (click)="entrerModeCreation()">
      Ajouter poule
    </button>
    } @if (estModeCreation) {
    <div id="form-creation">
      <div id="select-tags">
        @for (tag of tags; track $index) {
        <div>
          <input
            type="checkbox"
            [value]="tag.id"
            [checked]="tag.checked"
            (change)="onTagsChange($event)"
          />
          {{ tag.code }}
        </div>
        }
      </div>
      <div id="nom-poule">
        <label for="nomPoule">Nom :</label>
        <input
          id="input-nom"
          name="nomPoule"
          type="text"
          (change)="onNomChange($event)"
        />
        <div>
          <button class="btn btn-poule" (click)="ajouterPoule()">
            Valider
          </button>
          <button class="btn btn-poule" (click)="annulerAjout()">
            Annuler
          </button>
        </div>
      </div>
    </div>
    }
  </div>
  }
  <div id="liste-poules">
    @for (poule of poules; track $index) {
    <div class="poule">
      <app-affichage-poule
        [poule]="poule"
        [estLectureSeule]="estLectureSeule"
        (supprimer)="supprimerPoule($event)"
      ></app-affichage-poule>
    </div>
    }
  </div>
</main>
