main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-poule {
  padding-inline: 10px;
  padding-block: 5px;
  margin-top: 10px;
  margin-inline: 10px;
  text-align: center;
  align-content: center;
  font-size: 1.2em;
  border: 2px solid #2fcc71;
  border-radius: 10px;
}

#form-creation {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
}

#nom-poule {
  display: flex;
  flex-direction: column;
  margin-inline-start: 20px;
}
#input-nom {
  margin: 5px;
  height: 25px;
}
#liste-poules {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
}
.poule {
  border: 2px solid grey;
  border-radius: 10px;
  width: 400px;
  margin: 10px;
}

@media screen and (max-width: 1099px) {
  .poule {
    border: 2px solid grey;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
  }

  #form-creation {
    flex-direction: column;
  }
}
