#poule {
  display: flex;
  flex-direction: column;
}

#titre-poule {
  background-color: rgb(40, 40, 40);
  border-start-start-radius: 6px;
  border-start-end-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  margin-block: 7px;
}

h4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 5px;
}

.tag {
  border: 1px solid grey;
  background-color: rgb(30, 30, 30);
  border-radius: 13px;
  margin-inline: 2px;
  padding-inline: 6px;
  padding-block: 4px;
}

table {
  width: 100%;
  margin-block: 10px;
}

.nom {
  text-align: end;
}

#btn-supprimer {
  width: 21px;
  height: 21px;
  margin: 5px;
  border-radius: 9px;
  border: none;
  font-size: 1em;
  background-color: rgb(163, 71, 71);
  font-weight: 700;
}

#btn-supprimer:hover {
  cursor: pointer;
  border: none;
}
