<div id="poule">
  <div id="titre-poule">
    <h3>{{ poule.nom }}</h3>
    @if (!estLectureSeule) {
    <button class="btn" id="btn-supprimer" (click)="onSupprimer()">X</button>}
  </div>
  <h4 id="liste-tags">
    @for (tag of poule.tags; track $index) {
    <span class="tag">{{ tag.code }}</span>
    }
  </h4>
  <table id="liste-combattants">
    @for (c of combattants; track $index) {
    <tr class="combattant">
      <td class="nom">{{ c | nomsDisplay }}</td>
      <td>-</td>
      <td class="club">{{ c.club | clubDisplay }}</td>
    </tr>
    }
  </table>
</div>
