<main>
  @if (match) {
  <div id="status">Statut du match : {{ match.statut }}</div>
  <div>
  <button class="btn" id="btn-refresh" (click)="refreshMatch()">
    Actualiser affichage
  </button>
  @if (estLog) {
    <button class="btn" id="btn-arbitrage" (click)="arbitrerMatch()">
      Arbitrer le match
    </button>
  }
  </div>
  <div id="combattants">
    <app-afficher-combattant-card
      [combattant]="match.infosA"
      [couleur]="match.couleurA"
      [score]="match.scoreA"
    ></app-afficher-combattant-card>
    <app-afficher-combattant-card
      [combattant]="match.infosB"
      [couleur]="match.couleurB"
      [score]="match.scoreB"
    ></app-afficher-combattant-card>
  </div>
  <app-historique-coups
    [estLog]=false
    [matchId]="matchId"
  ></app-historique-coups>
  } @else {
  <div>Chargement du match</div>
  }
</main>
