tr {
  display: flex;
  height: 25px;
  margin-bottom: 2px;
  /* border: 1px solid green; */
}

.col-info {
  width: 200px;
  /* border: 1px solid red; */
}

.btn-combattants {
  text-align: center;
  align-content: center;
  height: 20px;
  padding-inline: 10px;
  margin-inline: 5px;
  border-radius: 50px;
}

.btn-combattants:hover {
  cursor: pointer;
  border: 1px solid black;
  padding-inline: 9px;
}

.btn-afficher-details {
  background-color: #2fcc71;
}

.btn-editer-combattant {
  background-color: rgb(129, 129, 0);
}
