<main>
  <app-login (loginEvent)="updateLogin($event)"></app-login>
  <table>
    <thead>
      <tr>
        <th class="col">Ville</th>
        <th class="col">Nom court</th>
        <th class="col">Nom complet</th>
        <th class="col"></th>
      </tr>
    </thead>
    @for (club of clubsListe$ | async; track $index; let estPair = $even) {
    <app-club-ligne
      (supprimerClub)="supprimerClub($event)"
      (modifierClub)="modifierClub($event)"
      [estPair]="estPair"
      [club]="club"
      [estLectureSeule]="estLectureSeule"
    ></app-club-ligne>
    } @if (estModeCreation) {
    <app-club-editer
      (annulerEditionCreation)="annulerEdition()"
      (validerCreation)="creerClub($event)"
    ></app-club-editer>
    }
  </table>
  @if (!estModeCreation) {
  <button
    class="btn"
    id="ajouter-club"
    [disabled]="estLectureSeule"
    (click)="modeAjout()"
  >
    Ajouter club
  </button>
  }
</main>
