<form
  [formGroup]="formEditerRuleset"
  (ngSubmit)="confirmer()"
  (keypress.enter)="confirmer()"
  (keypress.escape)="annuler()"
>
  <tr [ngClass]="{ lignePair: estPair }">
    <td class="col">
      <input
        class="input-txt"
        type="text"
        formControlName="nom"
        placeholder="Nom"
        #focus
      />
    </td>
    <td class="col">
      <input
        class="input-txt"
        type="text"
        formControlName="description"
        placeholder="Description"
      />
    </td>
    <td class="col">
      <input
        class="input-txt"
        type="text"
        formControlName="timerLimite"
        placeholder="300"
      />
    </td>
    <td class="col">
      <input type="radio" formControlName="timerReverse" value="false" />
      <label>⏫</label>
      <input type="radio" formControlName="timerReverse" value="true" />
      <label>⏬</label>
    </td>
    <!-- VULNERANTS -->
    <td class="col">
      @if (ruleset.id) { @if (estListeVulnerantsVisible) {
      <div class="btn-masquer-refs" (click)="showVulnerants()">OK</div>
      <div name="vulnerants" formArrayName="vulnerants" class="list-ref">
        @for (vulnerant of ruleset.vulnerants; track $index){
        <div [formGroupName]="$index">
          <span>
            <input type="checkbox" formControlName="checked" />
          </span>
          <span>{{ vulnerant.code }}</span>
        </div>
        }
      </div>
      } @else{
      <div class="btn-afficher-refs" (click)="showVulnerants()">Dérouler</div>
      }} @else { <span>(Edition requise)</span> }
    </td>
    <!-- CIBLES -->
    <td class="col">
      @if (ruleset.id) { @if (estListeCiblesVisible) {
      <div class="btn-masquer-refs" (click)="showCibles()">OK</div>
      <div name="cibles" formArrayName="cibles" class="list-ref">
        @for (cible of ruleset.cibles; track $index){
        <div [formGroupName]="$index">
          <span>
            <input type="checkbox" formControlName="checked" />
          </span>
          <span>{{ cible.code }}</span>
        </div>
        }
      </div>
      } @else {
      <div class="btn-afficher-refs" (click)="showCibles()">Dérouler</div>
      }} @else { <span>(Edition requise)</span> }
    </td>

    <td class="col">
      <button class="btn btn-rulesets btn-enregistrer-edition" type="submit">
        Enregistrer
      </button>
      <button
        type="button"
        class="btn btn-rulesets btn-annuler-edition"
        (click)="annuler()"
      >
        Annuler
      </button>
      @if (ruleset.id){
      <button
        type="button"
        class="btn btn-rulesets btn-suppression"
        (click)="demanderSuppression()"
      >
        X</button
      >}
    </td>
  </tr>
  @if (ereurSaisie){
  <div class="bandeau-erreur">
    <div class="message-erreur">Certains champs sont vides</div>
  </div>
  }
</form>
@if (estModalVisible && ruleset.id){
<app-confirmation-modal
  [id]="ruleset.id"
  [titre]="titreModal"
  [texte]="texteModal"
  (confirmer)="confirmerSuppression($event)"
  (annuler)="annulerSuppression()"
></app-confirmation-modal>
}
