<main>
  <table>
    <thead>
      <tr>
        <th class="col">Nom</th>
        <th class="col">Détails</th>
        <th class="col">Timer</th>
        <th class="col">Vulnerants</th>
        <th class="col">Cibles</th>
        <th class="col"></th>
      </tr>
    </thead>
    @for (ruleset of rulesetsListe$ | async; track $index; let estPair = $even)
    {
    <app-ruleset-ligne
      (supprimerRuleset)="supprimerRuleset($event)"
      (modifierRuleset)="recupererRulesets()"
      [estLog]="estLog"
      [estPair]="estPair"
      [ruleset]="ruleset"
    ></app-ruleset-ligne>
    } @if (estModeCreation) {
    <app-ruleset-editer
      (annulerEditionCreation)="annulerEdition()"
      (validerCreation)="creerRuleset()"
    ></app-ruleset-editer>
    }
  </table>
  @if (!estModeCreation && !estLog) {
  <button class="btn" id="ajouter-ruleset" (click)="modeAjout()">
    Ajouter ruleset
  </button>
  }
</main>
