<main>
  <table>
    <thead>
      <tr>
        <th class="col">Nom</th>
        <th class="col">Description</th>
        <th class="col">Temps limite</th>
        <th class="col">Sens du chrono</th>
        <th class="col">Vulnerants</th>
        <th class="col">Cibles</th>
        <th class="col"></th>
      </tr>
    </thead>
    @for (ruleset of rulesetsListe$ | async; track $index; let estPair = $even)
    {
    <app-ruleset-ligne
      (supprimerRuleset)="supprimerRuleset($event)"
      (modifierRuleset)="recupererRulesets()"
      [estLectureSeule]="estLectureSeule"
      [estPair]="estPair"
      [ruleset]="ruleset"
    ></app-ruleset-ligne>
    } @if (estModeCreation) {
    <app-ruleset-editer
      (annulerEditionCreation)="annulerEdition()"
      (validerCreation)="creerRuleset($event)"
    ></app-ruleset-editer>
    }
  </table>
  @if (!estModeCreation) {
  <button
    class="btn"
    id="ajouter-ruleset"
    [disabled]="estLectureSeule"
    (click)="modeAjout()"
  >
    Ajouter ruleset
  </button>
  }
</main>
