main {
  display: flex;
  flex-direction: column;
}
table {
  width: 50%;
  margin-inline: auto;
}

tr {
  display: flex;
  width: 100%;
  /* border: 1px solid green; */
}

.col {
  width: 33%;
  /* border: 1px solid red; */
}

th,
td {
  height: 30px;
  text-align: center;
  border-bottom: 1px solid white;
  border-collapse: collapse;
}

input,
select {
  width: 80%;
  margin-inline: 10%;
}

#ajouter-cible {
  width: 170px;
  height: 30px;
  margin-top: 10px;
  margin-inline: auto;
  text-align: center;
  align-content: center;
  font-size: 1.2em;
  border: 2px solid #2fcc71;
  border-radius: 10px;
}

#ajouter-cible:hover {
  cursor: pointer;
}

@media screen and (max-width: 1099px) {
  table {
    width: 100%;
  }
}
