<main>
  <!-- <h3>Formulaire de création de match</h3> -->
  @if (estLectureSeule) {
  <div>
    <span>Cet écran est en lecture seule</span>
    <button class="btn-secu" (click)="ouvrirSecu()">Déverouiller</button>
  </div>
  } @else {
  <div>
    <span>Un grand pouvoir implique de grandes responsabilités</span>
    <button class="btn-secu" (click)="stopModif()">
      J'ai compris, j'arrête
    </button>
  </div>
  }
  <form [formGroup]="formCreerMatch" (ngSubmit)="creerMatch()">
    <div id="select-combattants">
      <div id="select-combattant">
        <div class="select-label">Combattant A</div>
        <select class="select-field" name="" formControlName="combattantA">
          <div>{{ rechercheCombattantA }}</div>
          @for (combattant of combattantsListe; track $index){
          <option [ngValue]="combattant.id">
            {{ combattant | nomsDisplay }}
          </option>
          }
        </select>
        <div class="select-label">Couleur</div>
        <select class="select-field" name="" formControlName="couleurA">
          @for (couleur of couleurs; track $index){
          <option
            [ngValue]="couleur.code"
            [style.background-color]="couleur.code"
          >
            {{ couleur.libelle }}
          </option>
          }
        </select>
      </div>
      <div id="select-combattant">
        <div class="select-label">Combattant B</div>
        <select class="select-field" name="" formControlName="combattantB">
          @for (combattant of combattantsListe; track $index){
          <option [ngValue]="combattant.id">
            {{ combattant | nomsDisplay }}
          </option>
          }
        </select>
        <div class="select-label">Couleur</div>
        <select class="select-field" name="" formControlName="couleurB">
          @for (couleur of couleurs; track $index){
          <option
            [ngValue]="couleur.code"
            [style.background-color]="couleur.code"
          >
            {{ couleur.libelle }}
          </option>
          }
        </select>
      </div>
      <div id="preview-combattants">
        @if (a) {
        <div [style.color]="colorA">
          <div>{{ a.prenom }} {{ a.nom }}</div>
          <div>{{ a.club?.nomComplet }} ({{ a.club?.ville }})</div>
        </div>
        } @if (b) {
        <div [style.color]="colorB">
          <div>{{ b.prenom }} {{ b.nom }}</div>
          <div>{{ b.club?.nomComplet }} ({{ b.club?.ville }})</div>
        </div>
        }
      </div>
    </div>

    <div id="select-ruleset">
      <div>
        <span>Sélectionner le ruleset</span>
        <select name="" formControlName="ruleset">
          @for (ruleset of rulesets; track $index){
          <option [ngValue]="ruleset">{{ ruleset.nom }}</option>
          }
        </select>
      </div>
      <div id="preview-ruleset">
        @if (rulesetChoisi) {
        <!-- <div>Ruleset : {{ rulesetChoisi.nom }}</div> -->
        <div>Détails : {{ rulesetChoisi.description }}</div>
        <div>
          Timer : {{ rulesetChoisi.timerLimite | timer }} ({{
            rulesetChoisi.timerReverse | timerReverse
          }})
        </div>
        <br />
        <div>
          Vulnerants : {{ rulesetChoisi.vulnerants | rulesetRefDisplay }}
        </div>
        <div>Cibles : {{ rulesetChoisi.cibles | rulesetRefDisplay }}</div>
        }
      </div>
    </div>

    <div id="select-tags">
      <div id="tags-titre">Tags</div>
      @for (tag of tags; track $index) {
      <div>
        <input
          type="checkbox"
          [value]="tag.id"
          [checked]="tag.checked"
          (change)="onChange($event)"
        />
        {{ tag.code }}
      </div>
      }
    </div>

    <button
      [disabled]="estLectureSeule"
      class="btn"
      id="btn-creer-match"
      type="submit"
    >
      Créer
    </button>
  </form>
  @if (estModalVisible){
  <app-creation-match-modal
    titre="Confirmer la creation d'un match"
    texte="Que faire après avoir créé ce match ?"
    (annuler)="annulerCreation()"
    (confirmer)="confirmerCreation($event)"
  ></app-creation-match-modal>
  }
</main>
@if (estModateSecuVisible) {
<app-secu-modal
  [code]="'refs'"
  (confirmer)="deverouiller()"
  (annuler)="annuler()"
></app-secu-modal>
}
