<main>
  <app-login (loginEvent)="updateLogin($event)"></app-login>

  <ng-template #row let-item let-i="index">
    <strong>{{ i + 1 }}.</strong> {{ item.nom }} {{ item.prenom }} ({{ item.club.nomCourt }})
  </ng-template>

  <form [formGroup]="formCreerMatch" (ngSubmit)="creerMatch()">
    <div id="combattants">
      <div id="select-combattants">
        <div class="select-combattant">
          <div class="select-label">Combattant A</div>
          <input 
            ngui-auto-complete 
            formControlName="combattantA" 
            [source]="combattantsListe"
            [itemTemplate]="row" 
            [display-with]="formatName"
          />
        </div>
        <div class="select-combattant">
          <div class="select-label">Combattant B</div>
          <input 
            ngui-auto-complete 
            formControlName="combattantB" 
            [source]="combattantsListe"
            [itemTemplate]="row" 
            [display-with]="formatName"
          />
        </div>

        </div>
        <div id="preview-combattants">
          @if (this.formCreerMatch.value.combattantA; as a) {
          <div [style.color]="colorA">
            <div>{{ a.prenom }} {{ a.nom }}</div>
            <div>{{ a.club?.nomComplet }} ({{ a.club?.ville }})</div>
          </div>
          } @if (this.formCreerMatch.value.combattantB; as b) {
          <div [style.color]="colorB">
            <div>{{ b.prenom }} {{ b.nom }}</div>
            <div>{{ b.club?.nomComplet }} ({{ b.club?.ville }})</div>
          </div>
          }
        </div>
    </div>

    <div id="select-tags">
      <div id="tags-titre">Tags</div>
      @for (tag of tags; track $index) {
      <div>
        <input
          type="checkbox"
          [value]="tag.id"
          [checked]="tag.checked"
          (change)="onCheckTag($event)"
        />
        {{ tag.code }}
      </div>
      }
    </div>

    @if (!estLectureSeule) {
    <button class="btn" id="btn-creer-match" type="submit">Créer</button>
    }
  </form>
  @if (estModalVisible){
  <app-creation-match-modal
    titre="Confirmer la creation d'un match"
    texte="Que faire après avoir créé ce match ?"
    (annuler)="annulerCreation()"
    (confirmer)="confirmerCreation($event)"
  ></app-creation-match-modal>
  }
</main>
