<main>
  <ng-template #row let-item let-i="index">
    <strong>{{ i + 1 }}.</strong> {{ item.nom }} {{ item.prenom }} ({{ item.club.nomCourt }})
  </ng-template>

  <form [formGroup]="formCreerMatch" (ngSubmit)="creerMatch()">
    <div id="combattants">

      <div class="combattant">
        <div class="select-label">Coté BLEU</div>
        <div class="select-combattant">
          <input 
            ngui-auto-complete 
            formControlName="combattantA" 
            [select-on-blur]="true"
            [source]="combattantsListe"
            [itemTemplate]="row" 
            [display-with]="formatName"
          />
        </div>

        <div class="preview-combattant">
          @if (this.formCreerMatch.value.combattantA; as c) {
          <div [style.color]="colorA">
            <div>{{ c.prenom }} {{ c.nom }}</div>
            <div>{{ c.club?.nomComplet }} ({{ c.club?.ville }})</div>
          </div>
        }
        </div>
      </div>

      <div class="combattant">
        <div class="select-label">Coté JAUNE</div>
        <div class="select-combattant">
          <input 
            ngui-auto-complete 
            formControlName="combattantB" 
            [source]="combattantsListe"
            [itemTemplate]="row" 
            [display-with]="formatName"
          />
        </div>

        <div class="preview-combattant">
          @if (this.formCreerMatch.value.combattantB; as c) {
          <div [style.color]="colorB">
            <div>{{ c.prenom }} {{ c.nom }}</div>
            <div>{{ c.club?.nomComplet }} ({{ c.club?.ville }})</div>
          </div>
        }
        </div>
      </div>

    </div>
    <div id="select-tags">
      <div id="tags-titre">Tags</div>
      @for (tag of tags; track $index) {
      <div>
        <input
          type="checkbox"
          [value]="tag.id"
          [checked]="tag.checked"
          (change)="onCheckTag($event)"
        />
        {{ tag.code }}
      </div>
      }
    </div>

     @if (estLog) {
    <button class="btn" id="btn-creer-match" type="submit">Créer</button>
    }
  </form>
  @if (estModalVisible){
  <app-creation-match-modal
    titre="Confirmer la creation d'un match"
    texte="Que faire après avoir créé ce match ?"
    (annuler)="annulerCreation()"
    (confirmer)="confirmerCreation($event)"
  ></app-creation-match-modal>
  }
</main>
