#login {
}

.btn-login {
    background-color: #0000;
    border: none;
    font-size: 1em;
}

#btn-lock::after {
    content: "🔓";
}
#btn-lock:hover::after {
    content: "🔒";
}

#btn-unlock::after {
    content: "🔒";
}
#btn-unlock:hover::after {
    content: "🔓";
}