main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liste-matchs {
  font-size: 1.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 30px;
  /* background-color: rgb(30, 30, 30); */
  width: 100%;
  padding-inline-start: 10px;
  padding-block-start: 10px;
}

.match {
  width: 300px;
  height: 320px;
  border-radius: 10px;
  margin-block-end: 10px;
  margin-inline-end: 10px;
  border: 3px solid rgb(30, 30, 30);
}

.button-secu {
  margin-inline: 3px;
}

#btns {
  display: flex;
}
.btn-creation-match,
.btn-scores {
  padding-inline: 10px;
  padding-block: 5px;
  margin-top: 10px;
  margin-inline: 10px;
  text-align: center;
  align-content: center;
  font-size: 1.2em;
  border: 2px solid #2fcc71;
  border-radius: 10px;
}

@media screen and (max-width: 1099px) {
  .match {
    margin-inline: auto;
  }
  #btns {
    flex-direction: column;
  }
}
