<main>
  <div>
    @for (match of matchs; track $index) {
    <div class="match-wrapper">
      <div>Match {{ match.id }}</div>
      <div>
        <a routerLink="/arbitrage/{{ match.id }}"
          ><button class="btn-gestion-match">Arbitrer match</button></a
        ><button class="btn-gestion-match" (click)="demanderSuppression()">
          Supprimer match
        </button>
      </div>
      <div>
        <span>BLEU : </span>
        <span>{{ match.infosA | nomsDisplay }}</span>
        <br />
        <span>{{ match.infosA.club | clubDisplay }}</span>
      </div>
      <br />
      <div>
        <span>ROUGE : </span>
        <span>{{ match.infosB | nomsDisplay }}</span
        ><br />
        <span>{{ match.infosB.club | clubDisplay }}</span>
      </div>
    </div>
    <br /><br />
    @if (estModalVisible && match.id){
    <app-confirmation-modal
      [id]="match.id"
      [titre]="titreModal"
      [texte]="texteModal"
      (confirmer)="confirmerSuppression($event)"
      (annuler)="annulerSuppression()"
    ></app-confirmation-modal>
    } }
    <button class="btn-creation-match" (click)="creerMatch()">
      Creer nouveau match
    </button>
  </div>
</main>
