<main>
  <ng-template #row let-item let-i="index">
    <strong>{{ i + 1 }}.</strong> {{ item.nom }} {{ item.prenom }} ({{ item.club.nomCourt }})
  </ng-template>

  <form [formGroup]="formFiltrage">
      <div id="select-combattant">
        <input
          ngui-auto-complete 
          formControlName="combattantFiltre"
          blank-option-text="Voir tout les matchs"
          [source]="combattantsListe"
          [itemTemplate]="row" 
          [display-with]="formatName"
        />
      </div>
      <div id="select-tags">
      @for (tag of tagsFiltreListe; track $index) {
      <div>
        <input
          type="checkbox"
          [value]="tag.id"
          [checked]="tag.checked"
          (change)="onCheckTag($event)"
        />
        {{ tag.code }}
      </div>
      }
    </div>

    </form>

   @if (estLog) {
  <div id="btns">
    <button
      [disabled]="!estLog"
      class="btn btn-creation-match"
      (click)="creerMatch()"
    >
      Creer un match
    </button>
    <button class="btn btn-scores" (click)="editerScores()">
      Editer scores
    </button>
    @if (estScoresOk) {
    <a target="_blank" href="{{ URL_HEMA_RATING }}"
      ><button class="btn btn-scores">Lien vers les scores</button></a
    >
    }
  </div>
  }
  <h2>Nouveaux matchs</h2>
  @if (matchsNouveau.length===0) {
  <p>Pas de match à lancer</p>
  }
  <div class="liste-matchs">
    @for (match of matchsNouveau; track $index) {
    <div class="match">
      <app-match-afficher
        [match]="match"
        [estLog]="estLog"
        (matchEvent)="getMatchs()"
      ></app-match-afficher>
    </div>
    }
  </div>
  <h2>Matchs en cours</h2>
  @if (matchsEnCours.length===0) {
  <p>Pas de match en cours</p>
  }
  <div class="liste-matchs">
    @for (match of matchsEnCours; track $index) {
    <div class="match">
      <app-match-afficher
        [match]="match"
        [estLog]="estLog"
        (matchEvent)="getMatchs()"
      ></app-match-afficher>
    </div>
    }
  </div>
  <h2>Matchs terminés</h2>
  @if (matchsFinis.length===0) {
  <p>Pas de match terminé</p>
  }
  <div class="liste-matchs">
    @for (match of matchsFinis; track $index) {
    <div class="match">
      <app-match-afficher
        [match]="match"
        [estLog]="estLog"
        (matchEvent)="getMatchs()"
      ></app-match-afficher>
    </div>
    }
  </div>
</main>
