<main>
  <app-login (loginEvent)="updateLogin($event)"></app-login>
  @if (!estLectureSeule) {
  <button
    [disabled]="estLectureSeule"
    id="btn-creation-match"
    (click)="creerMatch()"
  >
    Creer un match
  </button>
  <button (click)="editerScores()">Editer scores</button>
  @if (estScoresOk) {
  <a target="_blank" href="{{ URL }}">Lien vers les scores</a>
  } }
  <h2>Nouveaux matchs</h2>
  @if (matchsNouveau.length==0) {
  <p>Pas de match à lancer</p>
  }
  <div class="liste-matchs">
    @for (match of matchsNouveau; track $index) {
    <div class="match">
      <app-match-afficher
        [match]="match"
        [estLectureSeule]="estLectureSeule"
        (matchEvent)="refreshList()"
      ></app-match-afficher>
    </div>
    }
  </div>
  <h2>Matchs en cours</h2>
  @if (matchsEnCours.length==0) {
  <p>Pas de match en cours</p>
  }
  <div class="liste-matchs">
    @for (match of matchsEnCours; track $index) {
    <div class="match">
      <app-match-afficher
        [match]="match"
        [estLectureSeule]="estLectureSeule"
        (matchEvent)="refreshList()"
      ></app-match-afficher>
    </div>
    }
  </div>
  <h2>Matchs terminés</h2>
  @if (matchsFinis.length==0) {
  <p>Pas de match terminé</p>
  }
  <div class="liste-matchs">
    @for (match of matchsFinis; track $index) {
    <div class="match">
      <app-match-afficher
        [match]="match"
        [estLectureSeule]="estLectureSeule"
        (matchEvent)="refreshList()"
      ></app-match-afficher>
    </div>
    }
  </div>
</main>
