tr {
  display: flex;
  height: 25px;
  width: 100%;
  padding-bottom: 2px;
}

.lignePair {
  background-color: rgb(60, 60, 60);
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding-left: 1%;
}

.col-vulnerant {
  justify-content: left;
  overflow-x: scroll;
  white-space: nowrap;
}

::-webkit-scrollbar {
  scrollbar-width: 1px;
  scrollbar-color: red;
}

.btn-vulnerants {
  width: 60px;
  text-align: center;
  align-content: center;
  height: 22px;
  padding-inline: 10px;
  margin-inline: 5px;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 0.9em;
}

.btn-vulnerants:hover {
  cursor: pointer;
  border: none;
  padding-inline: 9px;
}

.btn-afficher-details {
  background-color: #2fcc71;
}

.btn-editer-vulnerant {
  background-color: rgb(129, 129, 0);
}

@media screen and (max-width: 1099px) {
  tr {
    height: auto;
  }
}
