<div class="modal-overlay" (click)="annulerCreation()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ titre }}</h2>
    <p>{{ texte }}</p>
    <button id="btn-arbitrer" (click)="arbitrer()">Créer et arbitrer</button>
    <button id="btn-liste" (click)="liste()">Créer et voir la liste</button>
    <button id="btn-rester" (click)="rester()">
      Créer et rester sur la page
    </button>
    <button id="btn-annuler" (click)="annulerCreation()">
      Annuler la création
    </button>
  </div>
</div>
