tr,
td {
  display: flex;
  height: 25px;
  width: 100%;
  /* border: 1px solid green; */
}

.input-text-form {
  width: 198px;
  /* border: 1px solid red; */
}

.btn-combattants {
  text-align: center;
  align-content: center;
  height: 100%;
  padding-inline: 10px;
  border-radius: 50px;
}

.btn-combattants:hover {
  cursor: pointer;
  border: 1px solid black;
  padding-inline: 9px;
}

.btn-enregistrer-edition {
  background-color: #2fcc71;
}

.btn-annuler-edition {
  background-color: rgb(133, 0, 0);
}
