<tr>
  <td>
    <input
      class="input-text-form"
      type="text"
      name="prenom"
      placeholder="Prénom"
    />
  </td>
  <td>
    <input class="input-text-form" type="text" name="nom" placeholder="Nom" />
  </td>
  <td>
    <input
      class="input-text-form"
      type="text"
      name="pseudo"
      placeholder="Pseudo"
    />
  </td>
  <td>
    <select class="input-text-form" name="club" id="club-select">
      <option value="aucun">Aucun</option>
      <option value="burdigala">Burdigala</option>
      <option value="mesnie">La Mesnie</option>
    </select>
  </td>
  <td class="btn btn-combattants btn-enregistrer-edition">Enregistrer</td>
  <td class="btn btn-combattants btn-annuler-edition">Annuler</td>
</tr>
