<form [formGroup]="formEditerCombattant" (ngSubmit)="confirmer()">
  <tr>
    <td class="col">
      <input type="text" formControlName="prenom" placeholder="Prénom" />
    </td>
    <td class="col">
      <input type="text" formControlName="nom" placeholder="Nom" />
    </td>
    <td class="col">
      <input type="text" formControlName="pseudo" placeholder="Pseudo" />
    </td>
    <td class="col">
      <select name="club" id="club-select">
        <option value="aucun">Aucun</option>
        <option value="burdigala">Burdigala</option>
        <option value="mesnie">La Mesnie</option>
      </select>
    </td>
    <td class="col">
      <button class="btn btn-combattants btn-enregistrer-edition" type="submit">
        Enregistrer
      </button>
      <button
        class="btn btn-combattants btn-annuler-edition"
        (click)="annuler()"
      >
        Annuler
      </button>
    </td>
  </tr>
  @if (ereurSaisie){
  <div>Certains champs sont vides</div>
  }
</form>
