<section id="coup">
  <form [formGroup]="formSaisirCoup" (ngSubmit)="onSubmit()" id="form-coup">
    <div class="section-form">Qui frappe ?</div>
    <div id="attaquant-selector">
      <div class="button-form">
        <input type="radio" formControlName="attaquant" value="a" />
        <label id="a"> {{ match.infosA | nomsDisplay }}</label>
      </div>
      <div class="button-form">
        <input type="radio" formControlName="attaquant" value="b" />
        <label id="b"> {{ match.infosB | nomsDisplay }}</label>
      </div>
    </div>
    <div class="section-form">Quel vulnérant ?</div>
    <div id="vulnerant-selector">
      @for (vulnerant of vulnerants; track $index) {
      <div class="button-form">
        <input type="radio" formControlName="vulnerant" [value]="vulnerant" />
        <label>{{ vulnerant.code | titlecase }}</label>
      </div>
      }
    </div>
    <div class="section-form">Quelle partie du corps ?</div>
    <div id="cible-selector">
      @for (cible of cibles; track $index) {
      <div class="button-form">
        <input type="radio" formControlName="cible" [value]="cible" />
        <label>{{ cible.code | titlecase }}</label>
      </div>
      }
    </div>
    <button id="submit" type="submit">Valider le coup</button>
  </form>
  <div>
    <p id="dernier-coup">{{ coupStr }}</p>
  </div>
</section>
