#coup {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35vw;
}

#coup > h2 {
  width: 100%;
  align-self: flex-start;
  text-align: center;
}

#form-coup {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#form-coup > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-form {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-inline: auto;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 5px;
  border-bottom: 3px solid #505050;
}

.button-form {
  display: flex;
  width: 140px;
  height: 40px;
  margin-inline: 0px;
  margin-bottom: 5px;
  margin-inline: 3px;
}

input {
  opacity: 0;
  width: 140px;
  height: 40px;
  position: relative;
  margin-right: -140px;
  margin-top: -1px;
}

input:hover {
  cursor: pointer;
}

label {
  width: 140px;
  height: 40px;
  text-align: center;
  align-content: center;
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  transition: 500ms;
  font-size: 1.2em;
}

#bleu {
  /* color: rgb(68, 143, 255); */
  border: 2px solid rgb(68, 143, 255);
}

#rouge {
  /* color: rgb(252, 102, 102); */
  border: 2px solid rgb(252, 102, 102);
}

input:checked + label {
  background-color: rgb(47, 204, 113);
  color: black;
}

#submit {
  width: 50%;
  height: 50px;
  align-self: center;
  display: inline-block;
  margin: 10px;
  font-size: 1.3em;
  border: 2px solid rgb(47, 204, 113);
  border-radius: 10px;
  padding-block: 1px;
}

#submit:hover {
  cursor: pointer;
  padding-block: 0px;
  border: 3px solid rgb(47, 204, 113);
}

#dernier-coup {
  font-size: 1.2em;
}

#dernier-coup::first-letter {
  text-transform: capitalize;
}

@media screen and (max-width: 1099px) {
  #coup {
    width: 100%;
  }
}
