<section id="coup">
  <h3>{{ match.ruleset.nom }}</h3>
  <form [formGroup]="formSaisirCoup" (ngSubmit)="onSubmit()" id="form-coup">
    <div class="section-form">Qui frappe ?</div>
    <div id="attaquant-selector">
      <div class="button-form">
        <input type="radio" formControlName="attaquant" value="a" />
        <label [style.border]="borderA">
          {{ match.infosA | nomsDisplay }}</label
        >
      </div>
      <div class="button-form">
        <input type="radio" formControlName="attaquant" value="b" />
        <label [style.border]="borderB">
          {{ match.infosB | nomsDisplay }}</label
        >
      </div>
    </div>
    <div class="section-form">Quel vulnérant ?</div>
    <div id="vulnerant-selector">
      @for (vulnerant of match.ruleset.vulnerants; track $index) { @if
      (vulnerant.checked) {
      <div class="button-form">
        <input type="radio" formControlName="vulnerant" [value]="vulnerant" />
        <label>{{ vulnerant.code | titlecase }}</label>
      </div>
      }}
    </div>
    <div class="section-form">Quelle partie du corps ?</div>
    <div id="cible-selector">
      @for (cible of match.ruleset.cibles; track $index) { @if (cible.checked) {
      <div class="button-form">
        <input type="radio" formControlName="cible" [value]="cible" />
        <label>{{ cible.code | titlecase }}</label>
      </div>
      }}
    </div>
    <div class="section-form">Autres infos</div>
    <div id="autre-infos">
      <div class="button-form">
        <input type="checkbox" formControlName="doubleAtk" />
        <label>Double Atk</label>
      </div>
      <div class="button-form">
        <input type="checkbox" formControlName="doubleDef" />
        <label>Double Def</label>
      </div>
      <div class="button-form">
        <input type="checkbox" formControlName="afterblow" />
        <label>Afterblow</label>
      </div>
      <div class="button-form">
        <input type="checkbox" formControlName="simultanee" />
        <label>Simultanée</label>
      </div>
      <div class="button-form">
        <input type="checkbox" formControlName="faute" />
        <label>Faute</label>
      </div>
    </div>
    <button id="submit" type="submit">Valider le coup</button>
  </form>
  <div>
    <p id="dernier-coup">{{ coupStr }}</p>
  </div>
</section>
