#poule {
  display: flex;
  flex-direction: column;
}

#titre-poule {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  margin-block: 10px;
}

h4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 5px;
}

.tag {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 3px;
  margin-inline: 2px;
}

table {
  width: 100%;
  margin-block: 10px;
  /* border: 1px solid red; */
}

.nom {
  text-align: end;
}

#btn-supprimer {
  width: 21px;
  height: 21px;
  margin: 5px;
  border-radius: 9px;
  border: none;
  font-size: 1em;
  background-color: rgb(163, 71, 71);
  font-weight: 700;
}

#btn-supprimer:hover {
  cursor: pointer;
  border: none;
}
