<app-menu></app-menu>
<router-outlet />
<br />
<p>Reste à faire :</p>
<ul>
  <li>
    Suivi match (affichage combattants, gestion chrono, enregistrement des
    modifs)
  </li>
  <li>Référentiels vulnérants et parties du corps</li>
  <li>Enregistrement et affichage coups</li>
  <li>Rulesets et adaptation du formulaire de création</li>
  <li>Adaptation Hache d'arme</li>
  <li>CRUD des clubs</li>
  <li>Détails des combattants (matchs joués, coups enregistrés)</li>
  <li>Liste publique des matchs et détails</li>
  <li></li>
</ul>
