<app-menu></app-menu>
<router-outlet />
<div id="raf">
  <p>Env : {{ env.baseUrl }}</p>
  <p>Reste à faire :</p>
  <ul>
    <li>
      Suivi match
      <ul>
        <li>Affichage combattants</li>
        <li>Gestion chrono</li>
        <li>Enregistrement des modifs</li>
      </ul>
    </li>
    <li>
      Référentiels
      <ul>
        <li>Vulnérants</li>
        <li>Parties du corps</li>
      </ul>
    </li>
    <li>
      Coups
      <ul>
        <li>Saisie</li>
        <li>Enregistrement</li>
        <li>Affichage</li>
      </ul>
    </li>
    <li>
      Rulesets
      <ul>
        <li>Référentiel</li>
        <li>Choix création match</li>
        <li>Personnalisation</li>
      </ul>
    </li>
    <li>Adaptation Hache d'arme</li>
    <li>CRUD des clubs</li>
    <li>
      Détails des combattants
      <ul>
        <li>Matchs joués</li>
        <li>Coups enregistrés</li>
      </ul>
    </li>
    <li>
      Liste matchs
      <ul>
        <li>Liste publique</li>
        <li>Détails</li>
        <li>Suivi public</li>
      </ul>
    </li>
  </ul>
</div>
