<tr [ngClass]="{ lignePair: estPair }">
  <td class="col">{{ ruleset.nom }}</td>
  <td class="col">{{ ruleset.description }}</td>
  <td class="col">
    {{ ruleset.timerLimite | timer }} {{ ruleset.timerReverse | timerReverse }}
  </td>
  <td class="col">
    <span> {{ ruleset.vulnerants | rulesetRefDisplay }}</span>
  </td>
  <td class="col">
    <span> {{ ruleset.cibles | rulesetRefDisplay }}</span>
  </td>
  <td class="col">
    @if (!estLectureSeule) {
    <button class="btn btn-rulesets btn-editer-ruleset" (click)="editer()">
      Editer</button
    >}
  </td>
</tr>
