<tr [ngClass]="{ lignePair: estPair }">
  <td class="col">{{ ruleset.nom }}</td>
  <td class="col">{{ ruleset.description }}</td>
  <td class="col">{{ ruleset.timerStart }}</td>
  <td class="col">
    @for (cible of ruleset.cibles; track $index) {
    <span>{{ cible }},</span>
    }
  </td>
  <td class="col">
    <button class="btn btn-rulesets btn-afficher-details" disabled>
      Détails
    </button>
    <button
      class="btn btn-rulesets btn-editer-ruleset"
      disabled
      (click)="editer()"
    >
      Editer
    </button>
  </td>
</tr>
