<tr class="tr-coup">
  <td class="txt-histo-coups desktop">
    <span>{{ coup.timecode | date : "HH:mm:ss" }} - </span>
    <span>{{ coup | coupDisplay }}</span>
    <span [style.color]="coup.attaquantCouleur"
      >{{ coup.attaquant.prenom }} ({{ coup.attaquantScore }})</span
    ><span>{{ coup.vulnerant.libelle }}</span>
    @if (coup.vulnerant.code!="lutte") {
    <span>{{ coup.cible?.libelle }}</span
    >}
    <span [style.color]="coup.defenseurCouleur"
      >{{ coup.defenseur.prenom }} ({{ coup.defenseurScore }})</span
    >
  </td>
  <td class="txt-histo-coups mobile">
    <span>{{ coup.timecode | date : "HH:mm:ss" }} - </span>
    <span>{{ coup | coupDisplay }}</span>
    <br />
    <span [style.color]="coup.attaquantCouleur"
      >{{ coup.attaquant.prenom }} ({{ coup.attaquantScore }})</span
    >
    =>
    <span [style.color]="coup.defenseurCouleur"
      >{{ coup.defenseur.prenom }} ({{ coup.defenseurScore }})</span
    >
    <br />
    <span>{{ coup.vulnerant.libelle }}</span
    >/<span>{{ coup.cible?.libelle }}</span>
  </td>
</tr>
