.txt-histo-coups {
  width: 100%;
  align-content: center;
  padding-left: 5px;
  padding-block: 1px;
  height: 25px;
  font-size: 1.1em;
}
.txt-histo-coups::first-letter {
  text-transform: capitalize;
}

.mobile {
  display: none;
}
.desktop {
  display: block;
}

@media screen and (max-width: 1099px) {
  .txt-histo-coups {
    height: 50px;
    width: 100%;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
