.txt-histo-coups {
  width: 100%;
  align-content: center;
  padding-inline: 10px;
  padding-block: 1px;
  height: 25px;
  border-bottom: 1px solid grey;
  font-size: 1.1em;
}
.txt-histo-coups::first-letter {
  text-transform: capitalize;
}

.mobile {
  display: none;
}
.desktop {
  display: block;
}

.btn-histo-coups {
  text-align: center;
  align-content: center;
  padding-inline: 10px;
  margin-right: 10px;
  margin-block: 3px;
  height: 24px;
  border-radius: 50px;
}

.btn-histo-coups:hover {
  cursor: pointer;
  border: 1px solid black;
  padding-inline: 9px;
  height: 22px;
}

.btn-histo-coups-editer {
  background-color: rgb(129, 129, 0);
}

.btn-histo-coups-annuler {
  background-color: rgb(133, 0, 0);
}

@media screen and (max-width: 1099px) {
  .txt-histo-coups {
    height: 50px;
    width: 100%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
