<tr>
  <td class="txt-histo-coups" style="width: 100%">
    <span [style.color]="coup.attaquantCouleur">{{
      coup.attaquant.prenom
    }}</span
    ><span>{{ coup.vulnerant.libelle }}</span
    ><span>{{ coup.cible?.libelle }}</span
    ><span [style.color]="coup.defenseurCouleur">{{
      coup.defenseur.prenom
    }}</span>
  </td>
  <td>
    <div
      class="btn btn-histo-coups btn-histo-coups-annuler"
      (click)="supprimerCoup()"
    >
      X
    </div>
  </td>
</tr>
