<form
  [formGroup]="formEditerTag"
  (ngSubmit)="confirmer()"
  (keypress.enter)="confirmer()"
  (keydown.escape)="annuler()"
>
  <tr [ngClass]="{ lignePair: estPair }">
    <td class="col">
      <input type="text" formControlName="code" placeholder="Code" #focus />
    </td>
    <td class="col">
      <button class="btn btn-tags btn-enregistrer-edition" type="submit">
        Enregistrer
      </button>
      <button
        type="button"
        class="btn btn-tags btn-annuler-edition"
        (click)="annuler()"
      >
        Annuler
      </button>
      @if (estModeEdition){
      <button
        type="button"
        class="btn btn-tags btn-suppression"
        (click)="demanderSuppression()"
      >
        X</button
      >}
    </td>
  </tr>
  @if (ereurSaisie){
  <div class="bandeau-erreur">
    <div class="message-erreur">Certains champs sont vides</div>
  </div>
  }
</form>
@if (estModalVisible && estModeEdition){
<app-confirmation-modal
  [id]="tag.id"
  [titre]="titreModal"
  [texte]="texteModal"
  (confirmer)="confirmerSuppression($event)"
  (annuler)="annulerSuppression()"
></app-confirmation-modal>
}
