<section id="section-suivi">
  <app-combattant
    id="combattant-a"
    class="combattant"
    [combattant]="match.infosA"
    [couleur]="match.couleurA"
  ></app-combattant>
  <app-score-combattant
    id="score-a"
    [score]="match.scoreA"
    [couleur]="match.couleurA"
    (scoreEvent)="updateScoreA($event)"
  ></app-score-combattant>
  <app-chrono
    id="chrono"
    [match]="match"
    (timerEvent)="updateTimer($event)"
    (timerDebutEvent)="setDebutMatch()"
    (timerFinEvent)="setFinMatch($event)"
  ></app-chrono>
  <app-score-combattant
    id="score-b"
    [score]="match.scoreB"
    [couleur]="match.couleurB"
    (scoreEvent)="updateScoreB($event)"
  ></app-score-combattant>
  <app-combattant
    id="combattant-b"
    class="combattant"
    [combattant]="match.infosB"
    [couleur]="match.couleurB"
  ></app-combattant>
</section>
