/* SCORE */
.combattant {
  text-align: center;
  margin: auto;
}

#score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

#score > h2 {
  text-align: center;
}
