<section id="score">
  <app-combattant
    class="combattant"
    [combattant]="match.bleu"
    [couleur]="'bleu'"
  ></app-combattant>
  <app-score-combattant
    [score]="match.scoreBleu"
    [couleur]="'bleu'"
    (scoreEvent)="updateScoreBleu($event)"
  ></app-score-combattant>
  <app-chrono
    [match]="match"
    (timerTick)="timerTick($event)"
    (timerFin)="timerFin($event)"
  ></app-chrono>
  <app-score-combattant
    [score]="match.scoreRouge"
    [couleur]="'rouge'"
    (scoreEvent)="updateScoreRouge($event)"
  ></app-score-combattant>
  <app-combattant
    class="combattant"
    [combattant]="match.rouge"
    [couleur]="'rouge'"
  ></app-combattant>
</section>
