#gestion-match {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: 30px;
}

#chrono {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid aliceblue;
  height: 100px;
  border-radius: 30px;
  width: 40%;
  min-width: 250px;
}

#time {
  text-align: center;
  font-size: 3em;
  font-style: bold;
}

#ctrl-time {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  filter: invert(0.9);
}

#ctrl-time:hover {
  cursor: pointer;
}

.chrono-play {
  background-image: url("../../../assets/img/play-btn.png");
}
.chrono-pause {
  background-image: url("../../../assets/img/pause-btn.png");
}

.est-fini {
  background-image: url("../../../assets/img/stop.png");
}

#fin-du-match {
  margin-top: 30px;
  border: 3px solid aliceblue;
  padding: 10px;
  border-radius: 15px;
  font-size: 1em;
}

#fin-du-match:hover {
  cursor: pointer;
  border: 3px solid rgb(255, 0, 0);
  font-size: 1.2em;
}

@media screen and (max-width: 1099px) {
  #fin-du-match {
    margin-top: 10px;
  }
}
