<div id="gestion-match">
  <div id="chrono">
    <div
      id="ctrl-time"
      (click)="controlTimer()"
      [ngClass]="{
        'chrono-play': !estDemarre || estEnPause,
        'chrono-pause': estDemarre && !estEnPause,
        'est-fini': estFini
      }"
    ></div>
    <cd-timer
      id="time"
      #basicTimer
      [startTime]="match.timer"
      [endTime]="match.ruleset.timerLimite!"
      [countdown]="match.ruleset.timerReverse!"
      [maxTimeUnit]="'minute'"
      [format]="'ms'"
      [autoStart]="true"
      (onComplete)="complete()"
      (onTick)="tick($event)"
    ></cd-timer>
  </div>
  <div class="btn" id="fin-du-match" (click)="terminerMatch()">
    Mettre fin au match
  </div>
</div>
