/* You can add global styles to this file, and also import other style files */
body {
  width: 70%;
  margin-top: 40px;
  margin-inline: 15%;
  background-color: rgb(30, 30, 30);
  color: aliceblue;
}

h1 {
  display: flex;
  justify-content: center;
}

main {
  border-radius: 30px;
  padding: 20px;
  background-color: rgb(50, 50, 50);
  margin-bottom: 20px;
}

a:visited {
  color: blueviolet;
}

.d {
  background-color: rgb(68, 143, 255);
}

.e {
  background-color: rgb(252, 102, 102);
}

.btn {
  user-select: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-secu {
  margin-inline: 3px;
  margin-bottom: 10px;
}
#bloc-secu {
  font-size: 1em;
  margin-inline: auto;
}
@media screen and (max-width: 1099px) {
  body {
    margin-top: 25px;
    width: 90%;
    margin-inline: 5%;
  }
  main {
    border-radius: 30px;
    padding-inline: 2px;
    margin-bottom: 100px;
  }
}
