<section id="coup">
  <h2>Coup porté : Longsword</h2>
  <form action="" method="post" id="form-coup">
    <div class="section-form">Qui frappe ?</div>
    <div id="vor-selector">
      <input type="radio" name="attaquant" id="rouge" />
      <label for="rouge">Rouge</label>
      <input type="radio" name="attaquant" id="bleu" />
      <label for="bleu">Bleu</label>
    </div>
    <div class="section-form">Quel coup ?</div>
    <div id="coup-selector">
      <input type="radio" name="coup" id="estoc" />
      <label for="estoc">Estoc</label>
      <input type="radio" name="coup" id="taille" />
      <label for="taille">Taille</label>
      <input type="radio" name="coup" id="entaille" />
      <label for="entaille">Entaille</label>
      <input type="radio" name="coup" id="pommeau" />
      <label for="pommeau">Lutte</label>
    </div>
    <div class="section-form">Quelle cible ?</div>
    <div id="cible-selector">
      <input type="radio" name="cible" id="tete" />
      <label for="tete">Tête</label>
      <input type="radio" name="cible" id="torse" />
      <label for="torse">Torse</label>
      <input type="radio" name="cible" id="bras" />
      <label for="bras">Bras</label>
      <input type="radio" name="cible" id="jambe" />
      <label for="jambe">Jambe</label>
      <input type="radio" name="cible" id="main" />
      <label for="main">Main</label>
    </div>
    <input id="submit" type="submit" value="Valider le coup" />
  </form>
  <div><p>Bleu inflige un estoc à la tête de rouge</p></div>
</section>
