#coup {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35vw;
}

#coup > h2 {
  width: 100%;
  align-self: flex-start;
  text-align: center;
}

#form-coup {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#form-coup > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-form {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-inline: auto;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 5px;
  border-bottom: 3px solid #505050;
}

input {
  display: none;
}

label {
  background-color: #202020;
  width: 100px;
  height: 30px;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  margin-inline: 5px;
  margin-bottom: 5px;
}

label:hover {
  cursor: pointer;
}

input:checked + label {
  background-color: #2fcc71;
  color: black;
}

#submit {
  width: 50%;
  height: 30px;
  align-self: center;
  display: inline-block;
  margin: 10px;
  font-size: 1.2em;
  border: 2px solid #2fcc71;
  border-radius: 10px;
  padding-block: 1px;
}

#submit:hover {
  cursor: pointer;
  padding-block: 0px;
  border: 3px solid #2fcc71;
}
