<section id="coup">
  <h2>Coup porté : Longsword</h2>
  <form [formGroup]="formCoup" (ngSubmit)="onSubmit()" id="form-coup">
    <div class="section-form">Qui frappe ?</div>
    <div id="attaquant-selector">
      <div class="button-form">
        <input type="radio" formControlName="attaquant" value="rouge" />
        <label>Rouge</label>
      </div>
      <div class="button-form">
        <input type="radio" formControlName="attaquant" value="bleu" />
        <label>Bleu</label>
      </div>
    </div>
    <div class="section-form">Quel vulnérant ?</div>
    <div id="vulnerant-selector">
      <div class="button-form">
        <input type="radio" formControlName="vulnerant" value="estoc" />
        <label for="estoc">Estoc</label>
      </div>
      <div class="button-form">
        <input type="radio" formControlName="vulnerant" value="taille" />
        <label for="taille">Taille</label>
      </div>
      <div class="button-form">
        <input type="radio" formControlName="vulnerant" value="entaille" />
        <label for="entaille">Entaille</label>
      </div>
      <div class="button-form">
        <input type="radio" formControlName="vulnerant" value="lutte" />
        <label for="pommeau">Lutte</label>
      </div>
    </div>
    <div class="section-form">Quelle partie du corps ?</div>
    <div id="cible-selector">
      <div class="button-form">
        <input type="radio" formControlName="partieCorps" value="tête" />
        <label for="tete">Tête</label>
      </div>
      <div class="button-form">
        <input type="radio" formControlName="partieCorps" value="torse" />
        <label for="torse">Torse</label>
      </div>
      <div class="button-form">
        <input type="radio" formControlName="partieCorps" value="bras" />
        <label for="bras">Bras</label>
      </div>
      <div class="button-form">
        <input type="radio" formControlName="partieCorps" value="jambe" />
        <label for="jambe">Jambe</label>
      </div>
      <div class="button-form">
        <input type="radio" formControlName="partieCorps" value="main" />
        <label for="main">Main</label>
      </div>
    </div>
    <button id="submit" type="submit">Valider le coup</button>
  </form>
  <div>
    <p id="dernier-coup">{{ coupStr }}</p>
  </div>
</section>
