@for (poule of poules; track $index) {
<app-affichage-poule [poule]="poule"></app-affichage-poule>
}

<div id="creation-poule">
  <label for="descriptionPoule">Description</label>
  <input
    type="text"
    (change)="onDescriptionChange($event)"
    name="descriptionPoule"
  />
  <div id="select-tags">
    <div id="tags-titre">Tags</div>
    @for (tag of tags; track $index) {
    <div>
      <input
        type="checkbox"
        [value]="tag.id"
        [checked]="tag.checked"
        (change)="onTagsChange($event)"
      />
      {{ tag.code }}
    </div>
    }
  </div>
  <button (click)="ajouterPoule()">Creer liste</button>
</div>
