tr {
  display: flex;
  height: 25px;
  padding-bottom: 2px;
  /* border: 1px solid green; */
}

.lignePair {
  background-color: rgb(60, 60, 60);
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding-left: 1%;
  /* border: 1px solid red; */
}

input {
  text-align: center;
}

.btn-cibles {
  width: 44%;
  text-align: center;
  align-content: center;
  height: 22px;
  padding-inline: 10px;
  margin-inline: 5px;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 0.9em;
}

.btn-cibles:hover {
  cursor: pointer;
  border: none;
  padding-inline: 9px;
}

.btn-enregistrer-edition {
  background-color: #2fcc71;
}

.btn-annuler-edition {
  background-color: rgb(173, 173, 173);
}

.btn-suppression {
  background-color: rgb(248, 0, 0);
  font-weight: 700;
  position: relative;
  width: 35px;
  margin-right: -40px;
}

.bandeau-erreur {
  display: flex;
  justify-content: center;
}

.message-erreur {
  background-color: rgba(200, 30, 30, 0.3);
  font-size: 1em;
  padding-inline: 10px;
  padding-block: 5px;
  margin-block: 10px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
}
