<div
  id="modal-overlay"
  (keydown.enter)="verifierPassword()"
  (keydown.escape)="fermerModale()"
  (click)="fermerModale()"
>
  <div id="modal-content" (click)="$event.stopPropagation()">
    <h2>Mot de passe requis</h2>
    <div>
      <input
        id="secretInput"
        type="password"
        #secret
        [(ngModel)]="secu.secret"
      />
      <button id="btn-confirmer" (click)="verifierPassword()">O</button>
      <button id="btn-annuler" (click)="fermerModale()">X</button>
    </div>
  </div>
</div>
