<tr [ngClass]="{ lignePair: estPair }">
  <td class="col">{{ combattant.prenom }}</td>
  <td class="col">{{ combattant.nom }}</td>
  <td class="col">{{ combattant.pseudo }}</td>
  <td class="col col-club">{{ combattant.club | clubDisplay }}</td>
  <td class="col">
    <button
      class="btn btn-combattants btn-afficher-details"
      (click)="onDetails(combattant.id!)"
    >
      Détails
    </button>
    <button
      [disabled]="estLectureSeule"
      class="btn btn-combattants btn-editer-combattant"
      (click)="editer()"
    >
      Editer
    </button>
  </td>
</tr>
