<main>
  @if (false) {
  <h3>TEST LOGIN</h3>
    <form action="/j_security_check" method="post">
      <label>Username</label>
      <input type="text" placeholder="Username" name="j_username" required>
      <label>Password</label>
      <input type="password" placeholder="Password" name="j_password" required>
      <button type="submit">Login</button>
    </form>
  }
  @if (!estLog) {
  <h3>
    Bienvenue sur l'application live de la première édition de la BURDIGALA CUP !
  </h3>
  <div>
    D'ici vous pouvez suivre les matchs, consulter vos poules et même certaines
    statistiques de jeu 👀
  </div>
  <img
    width="200px"
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F005%2F720%2F408%2Foriginal%2Fcrossed-image-icon-picture-not-available-delete-picture-symbol-free-vector.jpg&f=1&nofb=1&ipt=d46f1a3182e85e702e4a2de57ae111f162d95895eee9f0629a77d2418d8adadf&ipo=images"
    alt="Image à ajouter"
  />
  <div></div>
  } @else {
  <div id="raf">
    <p>Reste à faire :</p>
    <ul>
      <li>
        Urgent
        <ul>
          <li class="ok">Bug timezone horodatage</li>
          <li class="ok">Tags et référentiel tags</li>
          <li class="ok">Sécurité des référentiels</li>
          <li class="ok">Finir affichage gestion matchs</li>
          <li class="ok">Affichage poules</li>
          <li class="ok">Verrouillage autres écrans</li>
          <li class="ok">Refaire le menu moins moche</li>
          <li class="ok">Ajouter nuances doubles/afterblow</li>
          <li class="ok">Interface publique</li>
          <li class="ok">Export hema rating</li>
          <li class="ok">Fix bug url bloquée</li>
          <li class="ok">Algorithmes stats individuelles</li>
          <li class="ok">Page stats individuelles</li>
          <li class="ok">Impression stats individuelles</li>
        </ul>
      </li>
      <br />

      <p>Total</p>
      <li>
        Référentiels
        <ul>
          <li class="ok">Vulnérants</li>
          <li class="ok">Parties du corps</li>
          <li class="ok">Rulesets</li>
          <li class="ok">Referentiel tags</li>
        </ul>
      </li>
      <li>
        Arbitrage
        <ul>
          <li class="ok">Affichage combattants</li>
          <li class="ok">Gestion chrono</li>
          <li class="ok">Enregistrement des modifs</li>
          <li class="ok">Responsive chrono</li>
        </ul>
      </li>
      <li>
        Coups
        <ul>
          <li class="ok">Saisie</li>
          <li class="ok">Enregistrement</li>
          <li class="ok">Affichage</li>
          <li class="ok">Affichage restreint</li>
          <li class="ok">Ajout score instantané</li>
          <li class="ok">Ajout couleur</li>
          <li class="ok">Horodatage</li>
        </ul>
      </li>
      <li>
        Rulesets
        <ul>
          <li class="ok">Référentiel</li>
          <li class="ok">Choix création match</li>
          <li>Personnalisation (annulé)</li>
        </ul>
      </li>
      <li>
        Matchs
        <ul>
          <li class="ok">CRUD</li>
          <li class="ok">Arbitrage</li>
          <li>Détails</li>
          <li>Liste publique</li>
          <li>Suivi public</li>
        </ul>
      </li>
      <li>
        Combattants
        <ul>
          <li class="ok">CRUD</li>
          <li>Détails</li>
          <li>Matchs joués</li>
          <li>Coups enregistrés</li>
        </ul>
      </li>
      <li>
        Clubs
        <ul>
          <li class="ok">CRUD</li>
          <li>Détails</li>
        </ul>
      </li>
      <li>
        Tournois (optionnel)
        <ul>
          <li>CRUD</li>
          <li>Assigner des matchs</li>
        </ul>
      </li>

      <li>
        (annulé) Login
        <ul>
          <li>Interface login</li>
          <li>Gestion de compte</li>
          <li>Gestion token back</li>
          <li>Gestion token front</li>
          <li>Gestion des permissions</li>
        </ul>
      </li>
    </ul>
  </div>
  <p>Env : {{ env.baseUrl }}</p>
  }
</main>
