<main>
  <div id="raf">
    <p>Env : {{ env.baseUrl }}</p>
    <p>URGENT :</p>
    <ul>
      <li class="ok">Bug double création clubs & ref</li>
      <li class="ok">Référentiels</li>
      <li class="ok">Coups par match</li>
      <li>Responsive</li>
    </ul>
    <p>Reste à faire :</p>
    <ul>
      <li>
        Suivi match
        <ul>
          <li>Affichage combattants</li>
          <li>Gestion chrono</li>
          <li class="ok">Enregistrement des modifs</li>
        </ul>
      </li>
      <li class="ok">
        Référentiels
        <ul>
          <li class="ok">Vulnérants</li>
          <li class="ok">Parties du corps</li>
        </ul>
      </li>
      <li class="ok">
        Coups
        <ul>
          <li class="ok">Saisie</li>
          <li class="ok">Enregistrement</li>
          <li class="ok">Affichage</li>
        </ul>
      </li>
      <li>
        Rulesets
        <ul>
          <li>Référentiel</li>
          <li>Choix création match</li>
          <li>Personnalisation</li>
        </ul>
      </li>
      <li>Adaptation Hache d'arme</li>
      <li class="ok">CRUD des clubs</li>
      <li>
        Détails des combattants
        <ul>
          <li>Matchs joués</li>
          <li>Coups enregistrés</li>
        </ul>
      </li>
      <li>
        Liste matchs
        <ul>
          <li>Liste publique</li>
          <li>Détails</li>
          <li>Suivi public</li>
        </ul>
      </li>
    </ul>
  </div>
</main>
