.score-wrapper {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 20px;
}

.score-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-size: 3em;
}

.modif-score {
  opacity: 0.6;
  transition: 0.2s;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.modif-score:hover {
  cursor: pointer;
  opacity: 1;
  color: black;
  font-size: 4em;
}
