<main>
  <table>
    <thead>
      <tr>
        <th class="col-info">Prénom</th>
        <th class="col-info">Nom</th>
        <th class="col-info">Pseudo</th>
        <th class="col-info">Club/Asso</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    @for (combattant of combattentsListe; track $index) {
    <app-combattant-ligne [combattant]="combattant"></app-combattant-ligne>
    } @if (ajoutCombattant) {
    <app-combattant-editer
      (annulerEdition)="annulerEdition()"
      (validerEdition)="ajouterCombattant($event)"
    ></app-combattant-editer>
    }
  </table>
  @if (!ajoutCombattant) {
  <div class="btn" id="ajouter-combattant" (click)="modeAjout()">
    Ajouter combattant
  </div>
  }
</main>
