<main>
  <app-login (loginEvent)="updateLogin($event)"></app-login>
  <table>
    <thead>
      <tr>
        <th class="col">Prénom</th>
        <th class="col">Nom</th>
        <th class="col">Club/Ville</th>
        <th class="col"></th>
      </tr>
    </thead>
    @for (combattant of combattantsListe$ | async; track $index; let estPair =
    $even) {
    <app-combattant-ligne
      (supprimerCombattant)="supprimerCombattant($event)"
      (modifierCombattant)="modifierCombattant($event)"
      [estPair]="estPair"
      [combattant]="combattant"
      [estLectureSeule]="estLectureSeule"
    ></app-combattant-ligne>
    } @if (estModeCreation) {
    <app-combattant-editer
      (annulerEditionCreation)="annulerEdition()"
      (validerCreation)="creerCombattant($event)"
    ></app-combattant-editer>
    }
  </table>
  @if (!estModeCreation) {
  <button
    class="btn"
    id="ajouter-combattant"
    [disabled]="estLectureSeule"
    (click)="modeAjout()"
  >
    Ajouter combattant
  </button>
  }
</main>
