<main>
  <table>
    <thead>
      <tr>
        <th class="col">Prénom</th>
        <th class="col">Nom</th>
        <th class="col">Pseudo</th>
        <th class="col">Club/Asso</th>
        <th class="col"></th>
      </tr>
    </thead>
    @for (combattant of combattentsListe; track $index; let estPair = $even) {
    <app-combattant-ligne
      [estPair]="estPair"
      [combattant]="combattant"
    ></app-combattant-ligne>
    } @if (ajoutCombattant) {
    <app-combattant-editer
      (annulerEdition)="annulerEdition()"
      (validerEdition)="ajouterCombattant($event)"
    ></app-combattant-editer>
    }
  </table>
  @if (!ajoutCombattant) {
  <div class="btn" id="ajouter-combattant" (click)="modeAjout()">
    Ajouter combattant
  </div>
  }
</main>
